<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       <app-left></app-left>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Danh sách xe</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h3 class="m-0 font-weight-bold text-primary">Danh sách xe</h3>
                            <button type="button" class="btn btn-primary" (click)="addVehicle()">Thêm</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Số thứ tự</th>
                                            <th>Biển</th>
                                            <th>Trạng thái</th>
                                            <th>Loại xe</th>
                                            <th>Số ghế tối đa</th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Số thứ tự</th>
                                            <th>Biển</th>
                                            <th>Trạng thái</th>
                                            <th>Loại xe</th>
                                            <th>Số ghế tối đa</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let vehicle of vehicleList;let i=index">
                                            <td scope="row">{{i+1}}</td>
                                            <td>{{vehicle.licensePlate}}</td>
                                            <td>{{vehicle.status?"Sẵn sàng":"Đang sửa chữa"}}</td>
                                            <td>{{getType(vehicle.idType)}}</td>
                                            <td>{{getMaxNumberSeat(vehicle.idType)}}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" (click)="editVehicle(vehicle.id)">Sửa</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" (click)="deleteVehicle(vehicle.id)">Xóa</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

  
</body>