<section class="vh-100" style="display: block;margin-left: auto;margin-right: auto;width: 868px;height: 806px;">
    <div class="container-fluid">
      <div>
        <div class=" text-black" style="text-align: center;">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Logo</span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5  mt-5 pt-5 " style="width: 500px;margin: 180px;">
  
            <form style="width: 100%">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Đăng nhập</h3>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form2Example18" class="form-control form-control-lg" placeholder="accont" />
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form2Example28" class="form-control form-control-lg" placeholder="password"/>
              </div>
  
              <div class="pt-1 mb-4">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" type="button">Đăng nhập</button>
              </div>
  
              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Quên mật khẩu?</a></p>
              <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>
              <p></p>
            </form>
  
          </div>
  
        </div>
      </div>
    </div>
  </section>